[submodule "trunk/CI3"]
	path = trunk/CI3
	url = git@github.com:bcit-ci/CodeIgniter.git
	branch = master
[submodule "trunk/CI4"]
	path = trunk/CI4
	url = git@github.com:bcit-ci/CodeIgniter4.git
	branch = master
[submodule "branch/CI3/3.1-stable"]
	path = branch/CI3/3.1-stable
	url = git@github.com:bcit-ci/CodeIgniter.git
	branch = 3.1-stable
