[submodule "trunk/CI3"]
	path = trunk/CI3
	url = git@github.com:bcit-ci/CodeIgniter.git
	branch = develop
[submodule "branch/CI3/3.1-stable"]
	path = branch/CI3/3.1-stable
	url = git@github.com:bcit-ci/CodeIgniter.git
	branch = 3.1-stable
[submodule "trunk/poing-ci3"]
	path = trunk/poing-ci3
	url = git@github.com:poing/CodeIgniter.git
[submodule "trunk/portal"]
	path = trunk/portal
	url = git@github.com:invitecomm/CodeIgniter.git
	branch = portal
